.container {
  max-width: 25%;
  flex: 1;
  background-color: var(--very-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 300;
}

.list {
  height: 100%;
  max-width: 28rem;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10rem 0;
}

.list li {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 3px 1rem;
  border-radius: 10px;
  user-select: none;
}

.list li:nth-child(5n) {
  color: var(--yellow);
}

.price {
  flex: 1;
  text-align: end;
}

.active {
  background-color: var(--green);
}
