.container {
  max-width: 75%;
  flex: 1;
  background: linear-gradient(to bottom, #0000, var(--very-dark-blue)),
    url('/src/assets/img/bg.jpg') center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.questions__container {
  display: flex;
  flex-direction: column;
  row-gap: 6rem;
  margin-bottom: 6rem;
}

@media only screen and (max-width: 90em) {
  .questions__container {
    row-gap: 4rem;
  }
}

.answers__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 3rem 3.5rem;
}

.answers__container .answer:nth-child(even) {
  background: linear-gradient(to right, var(--very-dark-blue), #000);
}

.answers__container .answer:nth-child(even):hover {
  background: linear-gradient(to right, var(--dark-blue) 35%, #000);
}

.answers__container .answer:nth-child(odd) {
  background: linear-gradient(to right, #000, var(--very-dark-blue));
}

.answers__container .answer:nth-child(odd):hover {
  background: linear-gradient(to right, #000, var(--dark-blue) 75%);
}

.question,
.answer {
  border: 3px solid var(--blue);
  border-radius: 20px;
  user-select: none;
  letter-spacing: 0.7px;
}

.question {
  background: linear-gradient(to bottom, #000, var(--very-dark-blue));
  padding: 2.2rem 10rem;
  font-size: 2.7rem;
}

.answer {
  width: 100%;
  padding: 1.5rem 5rem;
  text-align: center;
  font-size: 2.3rem;
  color: inherit;
}

.answers__container .answer.active {
  background-image: none;
  border-color: var(--dark-blue);
  background-color: var(--dark-blue);
}
