@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,700&display=swap');

:root {
  /* FONTS */
  --font-ubuntu: 'Ubuntu', sans-serif;

  /* COLORS */
  --almost-black: #111827;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

#root,
body {
  height: 100vh;
  width: 100vw;
}

body {
  font-family: var(--font-ubuntu);
  font-weight: 400;
  line-height: 1.6;
  color: var(--almost-black);
}

button {
  cursor: pointer;
  font: inherit;
}

button:disabled {
  cursor: not-allowed;
}

input {
  font: inherit;
}

a {
  text-decoration: none;
}
